{% extends 'layout.html'%}

{% block content%}
<body>
  <div class="container">
    <table class="table">
      <thead>
    <tr>
      
        <th>email</th>
        <th>design_fee</th>
        <th>hosting_fee</th>
        <th>developer_fee</th>
        <th>domain_fee</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
      
          
                                
          
            <td>{{invoice.get('user_email')}}</td>
            <td>{{invoice.get('design_fee')}}</td>
            <td>{{invoice.get('hosting_fee')}}</td>
            <td>{{invoice.get('developer_fee')}}</td>
            <td>{{invoice.get('domain_fee')}}</td>
        


        
      </tr>
      {% endfor %}

    </tbody>

    </table>
    <a href="{{url_for('invoice')}}"><button  class="btn btn-primary">Generate</button></a>
  </div>
</body>
{% endblock %}